.detail-block {
  padding: 30px 20px;
  margin: 50px 30px;
  border-radius: 23px;
  color: white;
  font-size: 18px;
  font-family: Avenir Next;
  width: 50%;
  background-color: black;
  p {
    font-weight: bold;
    font-size: 19px;
  }
}
